@charset "UTF-8";

:root {
    --cor01: #18191a;
    --cor02: #242526;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor01);
    color: white;
}

header {
    background-color: var(--cor02);
    padding: 10px;
    min-height: 60px;

}

header > h1 {
    padding: 10px;
    text-align: center;
}

main {
    margin-top: 10px;
    position: relative;
}

.roll {
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 15px;
    min-width: 150px;
    max-width: 700px;
    min-height: 1000px;
    background-color: var(--cor02);
    left: 50%;
    top: 50%;
}

section {
    margin: 10px;
    padding: 15px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    left: 10px;
    top: -10px;
    background-color: var(--cor01);
    border-radius: 5px;
    min-width: 150px;
    max-width: 330px;
    display: block;
}

.roll1 {
    margin: 10px;
    padding: 15px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    right: 10px;
    top: -10px;
    background-color: var(--cor01);
    border-radius: 5px;
    min-width: 150px;
    max-width: 330px;
    display: block;
}